/* Headers (only to check that css is been used) */
h1, h2, h3, h4, h5, h6 {color: #880000; }

/* Horizontal rule */
hr {background-color: gray; }

/* Back to top */
.back {text-align: right; }

/* Caption figures */
.caption {font-family: Times, FreeSerif, 'Century Schoolbook L', 'Times New Roman', serif; 
          text-align: center; padding: 0% 15% 0% 15%; font-size: larger; }
          
/* Menu items */
.menu {font-weight: bold; }

/* Text to be revised */
.rev { color: red; }

/* Horizontal array of images */
img.hoz {vertical-align: middle; margin-right: 20px;}

/* pre, code */
pre, code {font-family: 'Courier New', FreeMono, Courier, monospace; } /* font-size:110%; */

/* xml paragraph code */
pre.xml	{margin-left: 20px; margin-right: 20px; padding: 10px; background-color: #eed; }


